<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hanbit">
 	<select id="selectAllDatas" resultType="dto">
 		select * from sangpum order by code asc
 	</select>
 	<insert id="insertSangpum" parameterType="dto">
 		insert into sangpum values (seq1.nextval,
 		#{pum},#{su},#{dan})
 	</insert>
</mapper>